/* TODO: figure out code styling */

/* COLORS */
:root {
    --primary: #3771d2;
    --primary-variant: #1b1b7d;

    --secondary: #de006b;

    --background-primary: white;
    --background-dark: #000a20;

    --text-primary: var(--background-dark);
    --text-link: var(--primary);

    /*
    NOTE: what we called "background-primary" and "background-secondary" in Blogstar
    should really have been "background" and "surface"
    */
}

/* ---------------------------------------------------------------------------------------------- */
/* || GENERAL STYLES */
body {
    color: var(--text-primary);
    background-color: var(--background-primary);

    font-family: "Radio Canada Big", sans-serif;
    line-height: 1.3;

    min-height: 100vh;
    min-height: 100svh;
}

h1, h2, h3, h4 {
    font-family: "Roboto Serif", Georgia, serif;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--text-primary);
    font-weight: bold;
    line-height: 1.2;
}

h1 {
    font-size: 2rem;
    margin: 1.3rem 0; 
}
h2 {
    font-size: 1.5rem;
    margin: 1.2rem 0;
}
h3 {
    font-size: 1.17rem
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.83rem
}
h6 {
    font-size: 0.67rem
}

p {
    font-size: 1rem;
    margin: 1rem 0;
}

/* todo: ol shouldn't be disc-type */
ol, ul {
    line-height: 1.5em;

    margin: 1em 0;
    padding: 0 0 0 2.5em;

    list-style-type: disc;
    list-style-position: outside;
}

a {
    color: var(--primary);
    text-decoration: none; 
}
a:hover {
    text-decoration: underline;
}

/* ------------------------------------------------------------------------------------------------------- */
/* || SITE-WIDE */

.site-wrapper {
    /* These styles could be on body, but I'm scared of applying stuff like this to body */
    min-height: 100vh;
    min-height: 100svh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* <<< */
/* Site Header */
.site-header {
    color: white;
    background-color: var(--primary);
    padding: 1rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: baseline;
}

.nav-logo {
    color: white;
    font-style: italic;
    margin: 0;
}

.navlinks {
    height:fit-content;
}
.nav-links a {
    color: white;
}
/* >>> */

/* Site Footer */
.site-footer {
    color: white;
    background-color: var(--background-dark);
    padding: 1rem;
}

/* Main Content */
.main {
    padding: 1rem;
    display: flex;
    justify-content: center;
}


/* --------------------------------------------------- */
.article {
    min-width: max(fit-content, 75ch);
    max-width: 60ch;
    padding: 1rem 2rem;
}