/* FONTS */
body {
    font-family: "Radio Canada Big", sans-serif;
    line-height: 1.3;
}

h1, h2, h3, h4 {
    font-family: "Roboto Serif", Georgia, serif;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

h1 { font-size: 2rem; margin: 1.3rem 0; }
h2 { font-size: 1.5rem; margin: 1.2rem 0; }
h3 { font-size: 1.17rem }
h4 { font-size: 1rem;  }
p { font-size: 1rem; margin: 1rem 0;}
h5 { font-size: 0.83rem }
h6 { font-size: 0.67rem }

/* LARGE SECTIONS */
header {
    background-color: rgb(186, 255, 252);
}

footer {
    color: white;
    background-color: rgb(0, 0, 0);
}

/* LISTS */
ol, ul {
    line-height: 1.5em;
    margin: 1em 0;
    padding: 0 0 0 2.5em;
    list-style-type: disc;
    list-style-position: outside;
}

/* --------------------------------------------------- */

article.container {
    margin: 2em;
    align-items:center;
    max-width: 75ch;
}