/* Just some super simple CSS stuff to help me differentiate sections of my website */

header {
    background-color: rgb(186, 255, 252);
}

footer {
    color: white;
    background-color: rgb(0, 0, 0);
}

body {
    font-family: "Radio Canada Big", sans-serif; 
}

h1, h2, h3, h4 {
    font-family: "Roboto Serif", Georgia, serif;
}