/*COLORS */
:root {
    --ians-dark-blue: rgb(27, 27, 125); 
}

/* FONTS */
body {
    font-family: "Radio Canada Big", sans-serif;
    line-height: 1.3;
}

h1, h2, h3, h4 {
    font-family: "Roboto Serif", Georgia, serif;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

h1 { font-size: 2rem; margin: 1.3rem 0; }
h2 { font-size: 1.5rem; margin: 1.2rem 0; }
h3 { font-size: 1.17rem }
h4 { font-size: 1rem;  }
p { font-size: 1rem; margin: 1rem 0;}
h5 { font-size: 0.83rem }
h6 { font-size: 0.67rem }

/* LARGE SECTIONS */
body {
    min-height: 100vh;
    min-height: 100svh;
}

.content-wrapper {
    min-height: 100vh;
    min-height: 100svh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.site-header {
    background-color: rgb(186, 255, 252);
    padding: 1rem;
}

.main {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.site-footer {
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    align-self: self-end;
}

/* LISTS */
ol, ul {
    line-height: 1.5em;
    margin: 1em 0;
    padding: 0 0 0 2.5em;
    list-style-type: disc;
    list-style-position: outside;
}

/* --------------------------------------------------- */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: baseline;
}

.navlinks {
    height:fit-content;
}

.article {
    min-width: max(fit-content, 75ch);
    max-width: 75ch;
    padding: 1rem 2rem;
}