/* Main stylesheet for now */

/* FONTS AND BODY */
body {
    font-family: "Radio Canada Big", sans-serif; 
}

h1, h2, h3, h4 {
    font-family: "Roboto Serif", Georgia, serif;
}

body {
    color: white;
    background-image: url(../images/background-sky.jpg);
    background-repeat:repeat;
    background-position: bottom;
    background-size: cover;

    overflow-x: hidden;
    height: 100vh;
}

/* INLINE STUFF */
a {
    color: rgb(27, 27, 125);
    font-style: italic;
    text-decoration-line: none;
}
a:hover {
    color: white;
    text-decoration-line: underline;
}

/* MAJOR CONTAINERS */
header {
    text-align: center;
    font-style: italic;
}

main {
    background: #ffffff10;
    width: 60%;
    margin: auto;
    padding: 2em;
    border-radius: 0.3em;
}

/* OTHER */
img.social-icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}