<!doctype html>
<html lang="en">

  <head>
    <!-- MAGIC INCANTATIONS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TITLE -->
    <title>
      {{ page.title }} | {{site.title}}
    </title>
    
    <!-- Style Sheets -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/simple.css">

  </head>

  <body>
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>

</html>